body{
	
font-family: serif, sans-serif;

/*background-image: url("img/NAMEOFIMAGE.jpg");*/
}

header{
background:#ADCCD8;

width:96.5%;
padding:10px;
display:table;
border-radius:10px 0 10px 0;
box-shadow:4px 4px 5px #696969;
}
header h1{
	display:table-cell;
	padding: 0 0 5px -1px;
	width: 40%;
	font-family:'Droid Sans';
	font-weight:400;
	line-height:1;
	letter-spacing:-.05em;
	color:#0E1826;
}

header h2{
	display:table-cell;
	padding: 0 0 5px -1px;
	width: 40%;
	font-family:'Droid Sans';
	font-weight:400;
	line-height:1;
	letter-spacing:-.05em;
	color:#0E1826;
}
.col_wrap .mainbody{
width:96.5%;
display:table;
padding:10px 10px;
margin:10px;
border-radius:10px 0 10px 0;
box-shadow:4px 4px 5px #696969;
background:#ADCCD8;
}
.navbox{
background:black;
display:table;
	padding: 0 0 5px -1px;
	width: 98.5%;
	font-family:'Droid Sans';
	font-weight:400;
	line-height:1;
	letter-spacing:-.05em;
	color:#0E1826;
}
nav{
	
	text-align:right;
	width:40%;
	display: table-cell;
}
nav ul{
	display:inline;
	text-align:center;
}
nav li{
	display:inline-block;
	list-style-type:none;
}

nav a{
	font-family:'Open Sans Condensed';
	font-weight:700;
	font-size:.85em;
	display:block;
	background-color: #8FBDD9;
	padding:10px;
	text-decoration: none;
	font-color:#0E1826;
	box-shadow:4px 4px 5px #696969;
}

/*Change the link color on hover*/
li a:hover{
	background-color: #FFC94F;
	color: black;
}
/*Change the link after click*/
nav.active{
	background-color: #4CAF50;
}

.flex-container{
	display: flex;
	flex-wrap: nowrap;	
        width:98%;
        margin:10px; 
        box-shadow:4px 4px 5px #696969;
}

.flex-container .box1{
      float: left;
      width: 33.33%;
      margins:20px;
      padding: 40px;
      background:#FFC94F;
      text:#0E1826;
 
      border-radius:10px 0 10px 00; 
      box-shadow:4px 4px 5px #696969;      
}
.box1{
display:block;
width:100%;
float:none;
}